.dashboard-screen{
    width:100%;
    height: 200vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
.app-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;

}
.app-icons{
display: flex;
align-items: center;
}
.icon{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}
.main-content{
    display: flex;
    flex:1;
    flex-direction: column;
    
    
}
.side-menu{
     
    background-color: white;
    width: 150px;
    padding:20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto; 
    border-radius:25px;
    
}
.side-menu ul{
  
    list-style-type: none;
    padding:0;
    margin:0;
}
.side-menu li{
   
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}
.side-menu li:hover {
   color: navy;
   background-color: beige;
  }
  
  .logo{
    height:50px;
    width:50px;
    margin-left: 20px;

  }
  .name{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
    color: navy;
    margin-bottom: 10px;
  }
  .menu-icon{
    font-size: 16px;
    
  }
.cards{
    display: flex;
    
 
   padding-left: 100px;
   margin-left: 100px;
   margin-top: 10px;
  

  
}
.card{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    
    border-radius: 10px;
    margin: 0 10px;
    
}
.card1{
    background-color:#ffa500;
    margin-left: 20px;
 } /* Tomato */
.card2 { background-color: #4682b4; 
margin-left: 20px; }
.card3 { background-color: #3cb371;
    margin-left: 20px; } /* Medium Sea Green */
.card4 { background-color:  #ff6347;
    margin-left: 20px; } 

.table-container{
    margin-left: 220px;
    margin-top: 20px; 
     background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width:1090px;
    height: 400px;


}
.recent{
    background-color:beige;
    height:50px;
    border-radius: 10px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
    display: flex;
    
}
.recent .search{
    width:150px;
    margin-left:600px;
    height:20px

}
.search-icon{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 4px;
}
.table{
   
    width:800px;
    margin:20px;
    

  }
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .pic{
    width:200px
  }
  .pname{
    width:350px;
  }
  .sku{
    width:130px
  }
  .Product-menu-container{
   
    width:100%;
    height: 200px;

    margin-top: 30px;
  }
  .menu-button{
    margin-left: 220px;
    padding: 20px;
    background-color: #4682b4;
    font-weight: bold;
  }
  .product-table-container{
    margin-left: 220px;
  }
  .add-product-button{
    padding: 10px;
    background-color: #4682b4;
    font-weight: bold;
    margin-top: 20px;
  }
  .add-product-form{
    margin-top: 20px;
    background-color: rgb(21, 21, 22);
    color: white;
    width: 800px;
    border: 5px solid black;
    height: 400px;
    display: flex;
    flex-direction: row;
  }
  .form-group{
    margin: 21px;
    margin-left: 10px;
  }
  .submit-button{
    margin-left: 90px;
  }
  .product-display-container{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    
  }
  .product-card{
    border: 5px solid black;
    width: 200px;
    margin-left: 5px;
    
  }
  .product-items{
    margin-left: 20px;
  }
  .form-group textarea {
    resize: vertical; 
    width: 300px;
    height: 50px;/* Allows vertical resizing */
  }
  